{%extends 'base.html'%}
  {% block head %}
  
  {% block css %}
  {%load static %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">

{% endblock %}

{%endblock%}
{% block body %}

    <div class="container">
       
        <h1 class="form-title" >Add Admin</h1>
        <div class="error_msg"> 
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} 
                <form action="{% url 'add_admin' %}" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                     <div class="main-user-info">

                        <div class="user-input-box">
                            <label for="admin_name" >Admin ID</label>
                            <input type="text" id="admin_id" name="admin_id" placeholder="Enter New Admin ID" required>
                        </div>
                    <div class="user-input-box">
                    <label for="admin_name" >Admin Name</label>
                    <input type="text" id="admin_name" name="admin_name" placeholder="Enter New Admin Name" required>
                </div>
                <div class="user-input-box">
                    <label for="admin_email" >Email</label>
                    <input type="text" id="admin_email" name="admin_email" placeholder="Enter Email ID" required>
                </div>
                <div class="user-input-box">
                    <label for="company_name" >Generate Password</label>
                    <input type="text" id="admin_password" name="admin_password" placeholder="Generate Admin Password" required>
                </div>
        
                <div class="user-input-box">
                    <label for="select_branch" >Branch</label>
                    <select id='admin_branch' name='admin_branch' required>
                        <option value='IT'>Information Technology</option>
                        <option value='CS'>Computer Science</option>
                        <option value='EE'>Electrical Engineering</option>
                        <option value='ENTC'>ENTC</option>
                        <option value='ME'>Mechnical Engineering</option>
                        <option value='Printing'>Printing</option>
                        <option value='AIDS'>AIDS</option>

                    </select>             
               </div>
            </div>
            <div class="form-submit-btn">
                <input type="submit" value="Submit">
              </div>
        </form>
    </div>
    

    {%block footer%}{%endblock%}
{%endblock%}

