{%extends 'base.html'%}
{% block head %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{%endblock%}
{%block body %}
<div class="container">
  
  <h1 class="form-title">Add Placement Details</h1>
  <form action="{% url 'add_placement' %}" method="post" enctype="multipart/form-data">

      {% csrf_token %}
      <div class="main-user-info">
          

          <div class="user-input-box">
            <input type="hidden" name="student" value="{{ form.initial.student }}">
            <input type="hidden" name="placement_status" value="Hired">
            <label for="placement_type">Placement Type:</label>
             <select id="placement_type" name="placement_type">
             <option value="On Campus">On Campus</option>
             <option value="Off Campus">Off Campus</option>
             </select>
       </div>
  <div class="user-input-box">
      <label for="company_name">Company Name:</label>
      <input type="text" id="company_name" name="company_name">
  </div>

  <div class="user-input-box">
      <label for="salary">Salary:</label>
      <input type="text" id="salary" name="salary">
  </div>
</div>
  <div class="form-submit-btn">
      <input type="submit" value="Submit">
    </div>
  </form>
  </div>
{%endblock%}