{%extends 'base.html'%}
{% block head %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{%endblock%}
{%block body %}
<div class="login-container">
  
  
  <h1 class="">Add Placement Details</h1>
  <form action="{% url 'add_placement' %}" method="post" enctype="multipart/form-data">

      {% csrf_token %}
          
        <input type="hidden" id="placement_status" name="placement_status" value="Placed">

            <label for="placement_type">Placement Type:</label>
             <select id="placement_type" name="placement_type">
             <option value="On Campus">On Campus</option>
             <option value="Off Campus">Off Campus</option>
             </select>
    
      <label for="company_name">Company Name:</label>
      <input type="text" id="company_name" name="company_name">



      <label for="salary">Salary:</label>
      <input type="text" id="salary" name="salary">
 
      <input type="submit" value="Submit">
  
  </form>
  </div>
{%endblock%}