{% extends 'base_admin.html' %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="container mt-5">
<form id="signup-form" action="{% url 'add_job_details' %}" method="post" enctype="multipart/form-data">

	{% csrf_token %}
  <!-- Step 1: Personal Information -->
  <div class="step" id="step1">
    
    <h2>Step 1: job Role Information</h2>

    <label for="job_id" >Job Id</label>
    <input type="text" id="job_id" name="job_id" placeholder="Enter Job id" required><br>
   
    <label for="job_title" >Job Title</label>
    <input type="text" id="job_title" name="job_title" placeholder="Enter Job Title" required><br>

    <label for="company_name">Company Name</label>
    <input type="text" id="company_name" name="company_name" placeholder="Enter Company Name" required><br>
    <label for="company_logo">Company Logo</label>
    <input type="file" id="company_logo" name="company_logo"  required><br>

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="Enter Job Location" required><br>

    <label for="salary" >Salary</label>
    <input type="number" id="salary" name="salary" placeholder="Enter Salary" required><br>

    <button type="button" onclick="nextStep(1)">Next</button>
  </div>

  <!-- Step 2: Academic Details -->
  <div class="step" id="step2">
    <h2>Step 2: Academic Details</h2>
    <label for="required_CGPA">Required CGPA</label>
    <input type="text" id="required_CGPA" name="required_CGPA" placeholder="Enter Required CGPA" required><br>
    
    <label for="required_marks">Required Percentages</label>
    <input type="text" id="required_marks" name="required_marks" placeholder="Enter Required Marks" required><br>

    <label >Select Branches</label><br>
    
        <label><input type="checkbox" name="required_branchs" value="IT"> Information Technology</label><br>
        <label><input type="checkbox" name="required_branchs" value="ME"> Mechanical Engineering</label><br>
        <label><input type="checkbox" name="required_branchs" value="CS"> Computer Science</label><br>
        <label><input type="checkbox" name="required_branchs" value="EE"> Electrical Engineering</label><br>
        <label><input type="checkbox" name="required_branchs" value="ENTC"> ENTC</label><br>
        <label><input type="checkbox" name="required_branchs" value="Printing"> Printing</label><br>
        <label><input type="checkbox" name="required_branchs" value="AIDS"> AIDS</label><br><br>
    <button type="button" onclick="prevStep(2)">Previous</button>
    <button type="button" onclick="nextStep(2)">Next</button>
  </div>

  <!-- Step 3: Placement Status -->
  <div class="step" id="step3">
    <h2>Step 3: Exam Details </h2>

    <label for="date_exam" >Last Date </label><br>
    <input type="datetime-local" id="date_last" name="date_last" placeholder="Enter Exam Date" required><br>

      <label for="date_exam">Date of Exam</label><br>
      <input type="datetime-local" id="date_exam" name="date_exam" placeholder="Enter Exam Date" required><br>
     <label for="venue" >Venue</label>
    <input type="text" id="venue" name="venue" placeholder="Enter Venue" required><br>
    <input type="hidden" id="system_time" name="system_time">

    <button type="button" onclick="prevStep(3)">Previous</button>
    <button type="submit">Submit</button>
  </div>

  
</form>
</div>
<script src="{% static 'js/signup.js' %}"></script>

{%endblock%}
