{% extends 'base.html' %}
{% block title %}Admin Home page{% endblock %}
{% block body %}
  <nav>
       {% block nav_student %}
    
        <input type="checkbox" id="check" name="" value="">
        <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
        <label class="logo">PVG</label>
        <ul>
            <li><a class="navbar-link" href="{%url 'admin_home'%}">Home</a></li>
        <li><a class="navbar-link" href="#">Profile</a></li>
        <li><a class="navbar-link" href="{% url 'job_list_admin' page=1 %}">Job List</a></li>
        <li><a class="navbar-link" href="{% url 'add_job_details' %}">Add Job</a></li>
       
        <li><a class="navbar-link" href="{% url 'studentlist' page=1 %}">Student List</a></li>
        <li><a class="navbar-link" href="{% url 'application_list_search' %}">Application List</a></li>
       
        <li><a class="navbar-link" href="{%url 'my_logout'%}" >Logout</a></li>
        </ul>
    </nav>
    {% endblock %}
    {% endblock %}

