{% extends 'base.html' %}

{% block title %}Apply for Job{% endblock %}

{% block body %}
    <div class="w-23 bg-slate-400 h-35 mt-3 m-20 rounded-lg">
        <form method="post">
            {% csrf_token %}
            <!-- Add any form fields you need here -->
            <p class="m-3 p-3 font-serif text-3xl"><b>{{ job_detail.job_title }}</b></p>
            <p class="m-3 p-3 text-lg"><b>Company:</b> {{ job_detail.company_name }}</p>
            <p class="m-3 p-3 text-lg"><b>Salary: RS</b>{{ job_detail.salary }}</p>
            <p class="m-3 p-3 text-lg"><b>Required Branch:</b> {{ job_detail.required_branch }}</p>
            <p class="m-3 p-3 text-lg"><b>Skills:</b> {{ job_detail.skills }}</p>
            <p class="m-3 p-3 text-lg"><b>Time:</b> <span class="timeAgo"></span></p>
    
            <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">Apply</button>
        </form>
    </div>

{% endblock %}
