{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/apply_for_job.css' %}">
<title>{{ job_detail.job_title }} Details</title>
{% load static %}
{% endblock %}

{% block body %}
<div class="apply_for_container">
    <div class="card">
        <form id="applyForm" method="post" action="{% url 'apply_for_job2' job_id=job_id %}">
            {% csrf_token %}
           
            <p class="form-label"><b>{{ job_detail.job_title }}</b></p>
            <p><b>Company:</b> {{ job_detail.company_name }}</p>
            <p><b>Salary: RS </b>{{ job_detail.salary }} /year</p>
            <p><b>Location: </b>{{ job_detail.location }}</p>
            <p><b>Required Branch:</b> {{ job_detail.required_branchs }}</p>
            <p><b>Required CGPA: </b>{{ job_detail.required_CGPA }}</p>
            <p><b>Required Marks: </b>{{ job_detail.required_marks }}</p>
            <p><b>Required Passing Year: </b>{{ job_detail.required_passing_year }}</p>
            <p><b>Last Date: </b>{{ job_detail.date_last }}</p>
            <p><b>Exam Date: </b>{{ job_detail.date_exam }}</p>
            <p><b>Venue: </b>{{ job_detail.venue }}</p>
            <input type="hidden" name="applied_time" value="{% now 'F j, Y, g:i a' %}">
            <button type="button" onclick="validateAndSubmitForm()">Apply</button>
        </form>
    </div>
</div>
<script>
    function validateAndSubmitForm() {
        var lastDate = new Date("{{ job_detail.date_last }}"); // Get the job's last date from Django template

        // Compare current date with last date
        if (new Date() > lastDate) {
            alert('The application period for this job has ended.'); // Display a message to the user
        } else {
            document.getElementById('applyForm').submit(); // Submit the form if validation passes
        }
    }
</script>
{% endblock %}
