{%extends 'base.html'%}
{% block head %}
  {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
<style>
    /* Centering the form container */
    .apply_for_container {
        width: 50%;
        height: auto;
        margin: 70px auto; /* Centering horizontally and adding top margin */
        background: #f9f9f9; /* Light background color */
        border-radius: 10px;
        box-shadow: 0px 0px 10px 3px lightgray;
        padding: 30px; /* Padding for space inside the container */
    }
    
    /* Styling for the card content */
    .card {
        font-size: 18px;
        line-height: 40px;
        text-align: left;
    }
    
    /* Styling for the submit button */
    button {
        background-color: #007bff; /* Blue background color */
        color: #fff; /* White text color */
        padding: 12px 24px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;
    }
    
    button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
    
    /* Styling for the form labels */
    .form-label {
        font-weight: bold;
    }
</style>
<div class="apply_for_container">
    <div class="card">
        <form method="post" action="{% url 'apply_for_job2' job_id=job_id %}">
            {% csrf_token %}
            <p class="form-label"><b>{{ job_detail.job_title }}</b></p>
            <p><b>Company:</b> {{ job_detail.company_name }}</p>
            <p><b>Salary: RS</b>{{ job_detail.salary }}</p>
            <p><b>Location: </b>{{ job_detail.location }}</p>
            <p><b>Required Branch:</b> {{ job_detail.required_branchs }}</p>
            <p><b>Required CGPA: </b>{{ job_detail.required_CGPA }}</p>
            <p><b>Required Marks: </b>{{ job_detail.required_marks }}</p>
            <p><b>Last Date: </b>{{ job_detail.last_date }}</p>
            <p><b>Exam Date: </b>{{ job_detail.date_exam }}</p>
            <p><b>Venue: </b>{{ job_detail.venue }}</p>
            <button type="submit">Apply</button>
        </form>
    </div>
</div>
{% endblock %}
{%block footer%}
{%endblock%}
