<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Base Page{% endblock %}</title>
    <style>{% block css %}{% endblock %}</style>
    {%endblock%}
</head>

<body>{% block body%}
    <nav>
        
        {% block nav_student %}
            
        {% endblock %}
    </nav>
    <footer>
        {% block footer %}
        <div class="">
            <div class="">
                <p>&copy; 2024 PVG COET. All rights reserved.</p>
            </div>
        </div>
        {% endblock %}
    </footer>
    {% endblock %}
</body>
</html>
