{% extends "base.html" %}
{% block title %}Job List{% endblock %}  
{%load static%}

{% block body %}
{% block nav_student %}
<nav>
    <input type="checkbox" id="check" name="" value="">
    <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
    <label class="logo">PVG</label>
    <ul>
        <li><a class="navbar-link" href="{%url 'admin_home'%}">Home</a></li>
    <li><a class="navbar-link" href="#">Profile</a></li>
    <li><a class="navbar-link" href="{% url 'job_list_admin' page=1 %}">Job List</a></li>
    <li><a class="navbar-link" href="{% url 'add_job_details' %}">Add Job</a></li>
   
    <li><a class="navbar-link" href="{% url 'studentlist' page=1 %}">Student List</a></li>
    <li><a class="navbar-link" href="{% url 'application_list_search' %}">Application List</a></li>
   
    <li><a class="navbar-link" href="{%url 'my_logout'%}" >Logout</a></li>
    </ul>
</nav>
{% endblock %}
    <div class="container mt-5">
        <h1>Job List</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Job Role</th>
                    <th>Comapny Name</th>
                    <th>Comapny Logo</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Branches </th>
                    <th>CGPA</th>
                    <th>Delete</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ServiceData %}
                    <tr>
                        <td>{{ item.job_id }}</td>
                        <td>{{ item.job_title }}</td>
                        <td>{{ item.company_name }}</td>
                        <td class="logo-cell">
                            <img src="{% static 'images/company_logo.jpg' %}" alt="Company Logo">
                        </td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.salary }}</td>
                        <td>{{ item.required_branch }}</td>
                        <td>{{ item.CGPA }}</td>
                        <td>
                            <a href="{% url 'delete_job' item.job_id %}" class="btn btn-danger md-sm">Delete</a>
                        </td>
                        <td>
                            <a href="{% url 'update_job' item.job_id %}" class="btn btn-success md-sm">Modify</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="...">
            <ul class="pagination">
                {% if ServiceData.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ServiceData.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% for i in ServiceData.paginator.page_range %}
                    <li class="page-item {% if i == ServiceData.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if ServiceData.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ServiceData.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
