{% extends "base.html" %}
{%block head %}

{%load static%}
<link rel="stylesheet" href="{% static 'css/studentlist.css' %}">
<style>
    .thumbnail-img {
        max-width: 50px; 
        height: auto; 
        display: block; 
        margin: 0 auto;
    }
</style>
{%endblock%}

{% block body %}
    <div class="container ">
        <h1>Job List</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Job Role</th>
                    <th>Comapny Name</th>
                    <th>Comapny Logo</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Branches </th>
                    <th>CGPA</th>
                    <th>Percentages</th>
                    <th>Last date</th>
                    <th>Exam date</th>
                    <th>Delete</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ServiceData %}
                    <tr>
                        <td>{{ item.job_id }}</td>
                        <td>{{ item.job_title }}</td>
                        <td>{{ item.company_name }}</td>
                        <td class="logo-cell">
                            <img src="{{ item.company_logo.url }}" alt="Company Logo" class="thumbnail-img">
                        </td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.salary }}</td>
                        <td>
                            {% for branch in item.required_branchs %}
                                {{ branch }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        
                        <td>{{ item.required_CGPA }}</td>
                        <td>{{ item.required_marks }}</td>
                        <td>{{ item.date_last }}</td>
                        <td>{{ item.date_exam }}</td>
                        <td>
                            <a href="{% url 'delete_job' item.job_id %}" class="error">Delete</a>
                        </td>
                        <td>
                            <a href="{% url 'update_job' item.job_id %}" class="success">Modify</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="...">
            <ul class="pagination">
                {% if ServiceData.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ServiceData.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% for i in ServiceData.paginator.page_range %}
                    <li class="page-item {% if i == ServiceData.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if ServiceData.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ServiceData.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
