{% extends "base_admin.html" %}
{%block head %}

{%load static%}
<link rel="stylesheet" href="{% static 'css/studentlist.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">

{%endblock%}

{% block body %}
    <div class="container-fluid">
        <h1>Job List</h1>
      <div class="table-responsive"> 
        <table id="example" class="table table-striped" style="width:100%">           
             <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Job Role</th>
                    <th>Comapny Name</th>
                    <th>Comapny Logo</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Branches </th>
                    <th>CGPA</th>
                    <th>Percentages</th>
                    <th>Last date</th>
                    <th>Exam date</th>
                    <th>Delete</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ServiceData %}
                    <tr>
                        <td>{{ item.job_id }}</td>
                        <td>{{ item.job_title }}</td>
                        <td>{{ item.company_name }}</td>
                        <td class="logo-cell">
                            <img src="{{ item.company_logo.url }}" alt="Company Logo" class="thumbnail-img">
                        </td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.salary }}</td>
                        <td>
                            {% for branch in item.required_branchs %}
                            {{ branch }}
                            {% if not forloop.last %}{% endif %}
                            {% endfor %}

                        </td>
                        
                        <td>{{ item.required_CGPA }}</td>
                        <td>{{ item.required_marks }}</td>
                        <td>{{ item.date_last }}</td>
                        <td>{{ item.date_exam }}</td>
                        <td>
                            <a href="{% url 'delete_job' item.job_id %}" class="error"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'update_job' item.job_id %}" class="success"><i class="fa-solid fa-pen"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable();

        // Add search functionality
        $('#example_filter input').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>
{% endblock %}
