{%extends 'base.html'%}
  {% block head %}

  {%load static%}
    <link rel="stylesheet" href="{% static 'css/job_list.css' %}">

{% endblock %}

{% block body %}
    {% for job_detail in job_details %}
    {%endfor%}

    <div class="training-section">
        <h1>Our Placement Cell</h1>
        <div class="container">
            {% for job_detail in job_details %}
            <div class="training-items">
                
                <p><b>{{ job_detail.job_title }}</b></p>
                <p><b>Job:</b> {{ job_detail.job_id }}</p>
                <p><b>Company:</b> {{ job_detail.company_name }}</p>
                <p><b>Salary:</b> RS {{ job_detail.salary }}</p>
                <p><b>Time:</b> <span class="timeAgo"></span></p>
                {% if job_detail.job_id %}
                    <button><a href="{% url 'apply_for_job' job_id=job_detail.job_id %}">View Details</a></button>
                {% else %}
                    <p class="text-red-500">Job ID not available</p>
                {% endif %}
            </div>
            {%endfor%}
        </div>

       
    </div>
        

    {%endblock%}