{% block body %}
    {% for job_detail in job_details %}
        <div class="w-23 bg-slate-400 h-35 mt-3 m-20 rounded-lg">
            <p class="m-3 p-3 font-serif text-3xl"><b>{{ job_detail.job_title }}</b></p>
            <p class="m-3 p-3 text-lg"><b>Company:</b> {{ job_detail.company_name }}</p>
            <p class="m-3 p-3 text-lg"><b>Salary: $</b>{{ job_detail.salary }}</p>
            <p class="m-3 p-3 text-lg"><b>Required Branch:</b> {{ job_detail.required_branch }}</p>
            <p class="m-3 p-3 text-lg"><b>Skills:</b> {{ job_detail.skills }}</p>
            <!-- Use anchor tag to create a link -->
            <a href="{% url 'apply_for_job' job_detail.id %}" class="m-3 p-3 rounded-md bg-blue-600 hover:bg-blue-950 text-white">Apply</a>
        </div>
    {% endfor %}
{% endblock %}
