{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<title>{{ student.name }}'s Profile</title>
{% endblock %}

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} alert-dismissible"
    role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="container profile-container">
    <div class="profile-image-container">
        {% if student.profile_image %}
        <img src="{{ student.profile_image.url }}" alt="{{ student.name }}'s Profile Image" class="profile-image">
        {% else %}
        <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="Default Profile Image" class="profile-image">
        {% endif %}
        <h2 class="user-name">{{ student.name }}</h2> <!-- Display user name below the profile image -->

    </div>
    <div class="personal-info">
        <div class="profile-section personal-info-section">
            <h3>Personal Info</h3>
            <p><strong>CRN Number:</strong> {{ student.crn_number }}</p>
            <p><strong>Branch:</strong> {{ student.get_branch_display }}</p>
            <p><strong>Year:</strong> {{ student.get_year_display }}</p>
            <p><strong>Email:</strong> {{ student.email }}</p>
            <p><strong>Mobile Number:</strong> {{ student.mobile_number }}</p>
            <p><strong>Gender:</strong> {{ student.get_gender_display }}</p>
        </div>
    </div>
    <div class="other-info">
        <div class="profile-section educational-info">
            <h3>Educational Info</h3>
            <p><strong>CGPA:</strong> {{ student.CGPA }}</p>
            <p><strong>10th Marks:</strong> {{ student.mark_10th }}</p>
            <p><strong>12th Marks:</strong> {{ student.mark_12th }}</p>
            <p><strong>Diploma Marks:</strong> {{ student.diploma_marks }}</p>
            <p><strong>Aggregate Marks:</strong> {{ student.aggregate_marks }}</p>
            <p><strong>Year Down:</strong> {{ student.year_down }}</p>
            <p><strong>Active Backlog:</strong> {{ student.active_backlog }}</p>
        </div>
        <div class="profile-section placement-info">
            <h3>Placement Info</h3>
            {% if student.placement_status == "Not Placed" %}
            <p>Not Placed Yet</p>
            {% else %}
            {% if student.company_name %}
            <p><strong>Company Name:</strong> {{ student.company_name }}</p>
            {% endif %}
            {% if student.salary %}
            <p><strong>Salary:</strong> {{ student.salary }}</p>
            {% endif %}
            {% if student.placement_type %}
            <p><strong>Placement Type:</strong> {{ student.get_placement_type_display }}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}