{%extends 'base.html'%}
  {% block head %}
  
  {% block css %}
  {%load static %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">

{% endblock %}

{%endblock%}
{% block body %}
   

 <div class="container">
     <h2  class="form-title">Modify Job Details</h2>
     <form action="{% url 'do_update_job' data.job_id %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="main-user-info">
    
            <div class="user-input-box">
            <label for="job_id" >Job Id</label>
                             <input type="text" id="job_id" name="job_id" value={{data.job_id}} required>
                         </div>
                         <div class="user-input-box">
                             <label for="job_title">Job Title</label>
                             <input type="text" id="job_title" name="job_title" value={{data.job_title}} required>
                         </div>
                        

                         <div class="user-input-box">
                             <label for="company_name" >Company Name</label>
                             <input type="text" id="company_name" name="company_name"  value={{data.company_name}} required>
                         </div>

                         <div class="user-input-box">
                             <label for="company_logo" >Company Logo</label>
                             <input type="file" id="company_logo" name="company_logo"  value={{data.company_logo}} >
                         </div>

                         <div class="user-input-box">
                             <label for="location" >Location</label>
                             <input type="text" id="location" name="location"  value={{data.location}} required>
                         </div>

                         <div class="user-input-box">
                             <label for="salary" >Salary</label>
                             <input type="Number" id="salary" name="salary"  value={{data.salary}} required>
                         </div>

                        

                            <div class="user-input-box">
                                <label for="required_CGPA">Required CGPA</label>
                                <input type="text" id="required_CGPA" name="required_CGPA" placeholder="Enter Required CGPA"  value={{data.required_CGPA}} required>
                            </div>
                            <div class="user-input-box">
                                <label for="required_marks">Required Percentages</label>
                                <input type="text" id="required_marks" name="required_marks" placeholder="Enter Required Marks" value={{data.required_marks}} required>
                            </div>
                            <div class="user-input-box">
                                <label for="date_exam" >Last Date </label>
                                <input type="datetime-local" id="date_last" name="date_last" placeholder="Enter Exam Date" value={{data.date_last}} required>
                            </div>
                            <div class="user-input-box">
                                <label for="date_exam">Date of Exam</label>
                                <input type="datetime-local" id="date_exam" name="date_exam" placeholder="Enter Exam Date" value= {{data.date_exam}} required>
                            </div>
                            <div class="user-input-box">
                                <label for="venue" >Venue</label>
                                <input type="text" id="venue" name="venue" placeholder="Enter Venue"  value= {{data.venue}} required>
                            </div>

                            <div class="user-input-box-1">
                                <label >Select Branches</label>
                                <div class="checkbox-options">
                                    <label><input type="checkbox" name="required_branchs" value="IT"> Information Technology</label>
                                    <label><input type="checkbox" name="required_branchs" value="ME"> Mechanical Engineering</label>
                                    <label><input type="checkbox" name="required_branchs" value="CS"> Computer Science</label>
                                    <label><input type="checkbox" name="required_branchs" value="EE"> Electrical Engineering</label>
                                    <label><input type="checkbox" name="required_branchs" value="ENTC"> ENTC</label>
                                    <label><input type="checkbox" name="required_branchs" value="Printing"> Printing</label>
                                    <label><input type="checkbox" name="required_branchs" value="AIDS"> AIDS</label>
                                </div>
    
                        
                         <input type="hidden" id="system_time" name="system_time">

                     </div>
                    </div>
                     <div class="form-submit-btn">
                        <input type="submit" value="Modify">
                      </div>
     </form>
 </section>

 {%block footer%}{%endblock%}
{%endblock%}

