
.container {
    margin-top: 50px;
   
}
.pagination-container {
    display: none;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc; /* Add border to the table */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6; /* Bootstrap's table border color */
    border-right: 1px solid #dee2e6; /* Add right border to cells */
}

th {
    font-weight: bold;
    border-top: 1px solid #dee2e6; /* Add top border to table header */
}

tr {
    border-bottom: 1px solid #dee2e6; /* Add bottom border to table rows */
}
.thumbnail-img {
    max-width: 100px; /* Set maximum width */
    max-height: 100px; /* Set maximum height */
}
.error, .success  {
    text-decoration: none;
    color: white;
    width: 50px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.error {
    background-color: red;
}

.success {
    background-color: green;
}
.btn-primary{
    text-decoration: none;
    color: white;
    width: 130px;
    height: 30px; 
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}


.btn-primary {
    background-color: #2d3dcc;
}

.btn-primary:hover {
    background-color: #0a1157;
}

.down_link{
    padding-top:5px ;
}
