/* Define your custom CSS styles here */
.container {
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc; /* Add border to the table */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6; /* Bootstrap's table border color */
    border-right: 1px solid #dee2e6; /* Add right border to cells */
}

th {
    font-weight: bold;
    border-top: 1px solid #dee2e6; /* Add top border to table header */
}

tr {
    border-bottom: 1px solid #dee2e6; /* Add bottom border to table rows */
}

.error{
    text-decoration: none;
    background-color: red;
    color: white;
    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 5px;
}
.success{
    text-decoration: none;
    background-color: green;
    color: white;
    border-color: green;
    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 5px;
}
.btn-primary{
    background-color: #2d3dcc;
    color:white;
    width: 10px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

}
.btn-primary:hover{
    background-color: #0a1157;
}

